body {
    background-color: #1ecbe1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    margin: 50px 0 50px 0;
}

#definition {
    margin-bottom: 50px;

}


p {
    display: inline-block;
    margin: 30px 30px 0 30px;
    text-align: right;
}

button {
    margin: 25px;
    padding: 25px;
}

#score-board {
    margin-right: 0px;
}


@media only screen and (min-width: 1024px) {

    button {
        margin: 100px;
        padding: 100px;
    }

    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 30px;
    }

}